@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    --color-main: #66c0f4;
    --color-middel-blue: #2a475e;
    --color-dark-blue: #1b2838;
    --color-dark-gray: #171a21;
    --color-off-white: #c7d5e0;

    --color-hot-pink: #da2879;
    --color-purple: #80277e;
   

    --color-black:#1E1E1E;
    --color-white: #F5F5F5;
    --color-shadow: rgba(0,0,0,0.75);
    --color-dark-transparent: rgba(0, 0, 0, 0.228);

    --color-highlighted: red;
    --color-fav: yellow;
    --color-gray-transparent: rgba(128, 128, 128, 0.811);

    --main-font-family: "Open Sans", sans-serif;
}