.single-product-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
}
.single-product-container .top-banner {
  background-image: url(../../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 30vw;
  min-height: 150px;
  max-height: 350px;
}
.single-product-container .top-banner div {
  background-color: rgba(0, 0, 0, 0.722);
  height: 100%;
  width: 100%;
}

.discount {
  color: var(--color-gray-transparent);
  text-decoration: line-through;
}
.price {
  font-size: 16px;
  font-weight: 400;
}

.single-product-layout {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 2rem;
}
.single-product-layout .product-title {
  font-size: 40px;
  margin-top: 0;
}

.product-image {
  width: auto;
  height: 100%;
  max-height: 200px;
  justify-self: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.product-info {
  width: 100%;
  li {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  li,
  i {
    color: var(--color-off-white);
  }
}

@media screen and (min-width: 400px) {
  .single-product-layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
  }
  .product-image {
    justify-self: end;
  }
}
