.product-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin-bottom: 5%;
    gap: 5%;
    
}

.product-item .list-image{
    height: 100%;
    width: 100%;
}

.fav-button{
    color: var(--color-fav);
    padding: 2px;
    font-size: 30px;
    margin-left: 5%;
}

.product-title{
    font-size: 30px;
    letter-spacing: 1px;
}